.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);;
  }
  to {
    transform: rotate(360deg);
  }
}

.zrx {
  width: 32px;
  height: 32px;
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/zrx.svg");
}

.etc {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/etc.svg");
}

.eth {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/eth.svg");
}

.btc {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/btc.svg");
}

.bch {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/bch.svg");
}

.eur {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/eur.svg");
}

.gbp {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/gbp.svg");
}

.bat {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/bat.svg");
}

.usd, .usc {
  background-image: url("../node_modules/cryptocurrency-icons/svg/color/usd.svg");
}
